# LIST AND LIST RELATED EXAMPLES

In [61]:
li=[1,2,3,4,5]
print(len(li))

5

In [62]:
li=[1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [63]:
li[3]=33
print(li)

[1, 2, 3, 33, 5]

In [64]:
del li[1]
print(li)
print(len(li))

[1, 3, 33, 5]
4

In [65]:
li=[1,2,3,4,5]
print(li[1:4])

[2, 3, 4]

In [66]:
li=[1,2,3,4,5]
print(li[1:3])

[2, 3]

In [67]:

print(li[-1])

5

In [68]:
print(li[-2])

4

In [69]:
### METHODS OF LIST
li=[1,2,3,4,5]
print(sum(li))
print(max(li))
print(min(li))
print(sum(li)//len(li))

15
5
1
3

In [70]:
# FIND THE O/P OF ALTERNATE NUMBER AVERAGE

In [71]:
# INSERT AN ITEM AT THE END OF LIST
li.append(100)
print(li)

[1, 2, 3, 4, 5, 100]

In [72]:
# INSERT AN ITEM IN THE MIDDLE OF LIST
li.insert(3,70)
li

[1, 2, 3, 70, 4, 5, 100]

In [73]:
# COUNTS HOW MANY TIMES THE ELEMENT IS REPEATED
li.count(70)

1

In [74]:
# INDEX GIVES THE INDEX OF SPECIFIED VALUE
li.index(70)

3

In [76]:
# SORT-IT SORTS THE LIST
li.sort()
print(li)

[1, 2, 3, 4, 5, 70, 100]

In [77]:
#POP-IT REMOVES THE ITEM OF LAST INDEX
li.pop()
print(li)

[1, 2, 3, 4, 5, 70]

In [78]:
li.pop(2)
li

[1, 2, 4, 5, 70]

In [79]:
a=li[::-1]
print(a)

[70, 5, 4, 2, 1]

In [80]:
# DEFINE A FUNCTION TO FIND OUT SECOND LARGEST NUMBER 
def secondLarge(li):
    li.sort()
    return li[-2]
li=[1,2,3,34,5]
secondLarge(li)

5

In [81]:
def genericLarge(li,n):
    li.sort()
    return li[-n]
genericLarge(li,3)

3

In [82]:
def genericLeast(li,n):
    li.sort()
    return li[n]
genericLeast(li,2)

3

# NUMBER TO LIST CONVERSION 
- 12345678 TO [1,2,3,4,5,6,7,8]

In [85]:
def numberToList(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numberToList(12345678)

[1, 2, 3, 4, 5, 6, 7, 8]

# DATA STRUCTURES - TUPLES
- It is similar to list objects
- list will be enclosed in square bracketsand tuples will be enclosed in paranthesis
- list can be incresed/decreased and tuple is fixed
- it means list is mutable and tuple is immutable
- list will be used for read and write where as tuple is used only for reading

In [86]:
t1=(1,1,5,9,2)
t1

(1, 1, 5, 9, 2)

In [87]:
t1[0:4]

(1, 1, 5, 9)

In [88]:
t1[2]

5

# DATA STRUCTURE-DICTIONARIES
- this data structure works on set of keys and values
- there will be unique key set will be defined
- every key is seperated from its value by colon(:)
- every key and value pair is seperated by comma(,)
- it is defined with curly braces

In [89]:
d1={"name":"yashasvi","emailid":"kyashasvi56@gmail.com"}
print(d1)

{'name': 'yashasvi', 'emailid': 'kyashasvi56@gmail.com'}

In [90]:
print(d1['emailid'])

kyashasvi56@gmail.com

In [95]:
d1['name']='rishitha'
print(d1)

{'name': 'rishitha', 'emailid': 'kyashasvi56@gmail.com'}

In [96]:
del d1['name']
print(d1)

{'emailid': 'kyashasvi56@gmail.com'}

### CONTACT APPLICATION
- USED CONCEPTS:dict,tuple,list
### modules of contact application
- add contacts
- search contacts
- import the new contacts
- update the contacts
- delete the contact

In [99]:
contacts={} # empty dict object
# define the function for add contacts
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else :
        print("contact is not added")
    return
addContacts('anil',12356566) # contact added
addContacts('ajay',97644567) # contact added
addContacts('anil',12356566) # contact is not added

contact added
contact added
contact is not added

In [100]:
contacts

{'anil': 12356566, 'ajay': 97644567}

In [101]:
# define function for search contact
def searchContact(name):
    if name in contacts:
        print(name , ":" , contacts[name])
    else:
        print("contact is not present")
    return
searchContact('anil')
searchContact('ajay')
searchContact('harsha')

anil : 12356566
ajay : 97644567
contact is not present

In [102]:
# DEFINE THE FUNCTION FOR IMPORT THE CONTACTS
def importContacts(newcontacts):
    contacts.update(newcontacts)
    print('new contacts are added')
    return
newContacts={"harsha":587760876,"dinesh":556786876}
importContacts(newContacts)

new contacts are added

In [103]:
contacts

{'anil': 12356566, 'ajay': 97644567, 'harsha': 587760876, 'dinesh': 556786876}

In [104]:
# DEFINE THE FUNCTION FOR UPDATE DETAILS
def updateDetails(name,phone):
    if name in contacts:
        contacts[name]=phone
        print('contact update is successful')
    else:
        print("please add a new contact details")
    return
updateDetails('anil',476575)
updateDetails("neeraj",6887978)

contact update is successful
please add a new contact details

In [105]:
contacts

{'anil': 476575, 'ajay': 97644567, 'harsha': 587760876, 'dinesh': 556786876}

In [107]:
# DEFINE THE FUNCTION TO DELETE THE CONTACTS
def deleteContact(name,phone):
    if name in contacts:
        del contacts[name]
        print('contact deleted')
    else:
        print("contact not found")
    return
deleteContact('harsha',587760876)
deleteContact("fyfufui",57867696)

contact deleted
contact not found

# STRING TO LIST CONVERSION
- '1 2 3 4 5 6' - [1,2,3,4,5,6]

In [108]:
a=input('enter the numbers')
print(type(a))
print(a)

enter the numbers123456
<class 'str'>
123456

In [109]:
a='rishitha'
print(type(a))
print(a)

<class 'str'>
rishitha

In [110]:
s="Application test working"
li=s.split()
print(li)

['Application', 'test', 'working']

In [111]:
s="gitam hyderabad python program"
li=s.split('a')
print(li)

['git', 'm hyder', 'b', 'd python progr', 'm']

In [115]:
s="gitam hyderabad python program"
li=s.split('d')
print(li)

['gitam hy', 'eraba', ' python program']

In [120]:
# define function to convert the string to list
def stringToList(s):
    li=s.split() # divide the string by white space #['1' '2' '3']
    numberList=[]
    for i in li:
        numberList.append(int(i))
    return numberList
stringToList('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]